.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10vw;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

[class*=col-] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-md-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-md-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-md-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-md-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-md-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-md-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-md-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-md-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-md-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-md-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-md-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
body {
  margin: 0;
}

.submit_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: #ff9900 solid 1px;
  font-weight: 200;
  line-height: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #ff9900;
  color: white;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.submit_button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 100px;
  width: 100%;
  border-bottom: #e8e9ea solid 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header_navigation .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_navigation .logo img {
  width: 100%;
}
header .header_navigation nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
header .header_navigation nav ul li a {
  font-size: 1.2rem;
  padding: 0 0.8rem;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
header .header_navigation nav ul li a:hover {
  cursor: pointer;
  color: black;
  font-weight: 900;
}

@media (max-width: 767px) {
  header .header_navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .header_navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .header_navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#hero .hero_container {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#hero .hero_container .hero_title {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#hero .hero_container .hero_title .hero_text {
  width: 100%;
}
#hero .hero_container .hero_title .hero_text h3 {
  font-size: large;
}
#hero .hero_container .hero_title .hero_text h1 {
  margin: 0 0 auto;
  font-size: 5rem;
}
#hero .hero_container .hero_title .hero_text h1 a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
#hero .hero_container .hero_title .hero_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#hero .hero_container .hero_title .hero_frame .frame_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 2% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hero .hero_container .hero_title .hero_frame .frame_text p {
  margin: 0 3%;
}
#hero .hero_container .hero_title .hero_frame .frame_text .fa-solid {
  margin-left: 5%;
  color: rebeccapurple;
}
#hero .hero_container .hero_title .hero_button-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#hero .hero_container .hero_title .hero_button-price .price_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0 2% 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#hero .hero_container .hero_title .hero_button-price .price_block h1 {
  width: 100px;
  margin: 0;
  font-size: 1rem;
}
#hero .hero_container .hero_title .hero_button-price .price_block .money_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px 0 0;
  font-size: 140%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#hero .hero_container .hero_title .hero_button-price .price_block .money_block p {
  margin: 24% 0 0;
  color: #4568f9;
}
#hero .hero_container .hero_title .hero_button-price .price_block .money_block :nth-child(2) {
  color: gray;
}
#hero .hero_container .hero_image {
  margin-top: 15%;
  height: 85%;
  width: 100%;
}
#hero .hero_container .hero_image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 767px) {
  #hero .hero_container .hero_title .hero_text h1 {
    width: 100%;
    font-size: 2rem;
  }
  #hero .hero_container .hero_image {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #hero .hero_container .hero_title .hero_text h1 {
    font-size: 3rem;
  }
  #hero .hero_container .hero_image {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #hero .hero_container .hero_title .hero_text h1 {
    font-size: 3rem;
  }
  #hero .hero_container .hero_image {
    display: none;
  }
}
#dna_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#dna_info .info_text {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#dna_info .info_text h1 {
  font-size: 3rem;
}
#dna_info .info_text p {
  width: 70%;
  margin: 0 0 5%;
  font-size: 20px;
}
#dna_info .movie {
  width: 100%;
}
#dna_info .movie video {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-top: 3rem;
}

#analyze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 5% 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#analyze header {
  width: 100%;
  border: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#analyze header h1 {
  font-size: 2rem;
  text-align: center;
}
#analyze header p {
  width: 100%;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
#analyze .analyze_components {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 2%;
  gap: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#analyze .analyze_components .analyze_image {
  width: 100%;
}
#analyze .analyze_components .analyze_image img {
  width: 100%;
}
#analyze .analyze_components .human_analyze {
  width: 100%;
  padding: 0;
  margin: 2% 0 0;
  list-style-type: none;
}
#analyze .analyze_components .human_analyze li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  border-radius: 10px;
  margin-bottom: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#analyze .analyze_components .human_analyze li a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#analyze .analyze_components .human_analyze li img {
  width: 47px;
  height: 47px;
  margin: 0 3% 0 4%;
}
#analyze .analyze_components .human_analyze .blood {
  background-color: #fff3e0;
}
#analyze .analyze_components .human_analyze .mood {
  background-color: #deecf1;
}
#analyze .analyze_components .human_analyze .pain {
  background-color: #f5f9ea;
}
#analyze .analyze_components .human_analyze .sleep {
  background-color: #f3e4f6;
}
#analyze .analyze_components .human_analyze .stress {
  background-color: #e9edfe;
}

#personalize {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#personalize .personalize_title {
  width: 100%;
}
#personalize .personalize_title .personalize_text {
  margin: 33% 0 10%;
}
#personalize .personalize_title .personalize_text h1 {
  width: 100%;
  font-size: 2rem;
}
#personalize .personalize_title .personalize_text p {
  width: 70%;
  margin: 0 0 auto;
  font-size: 20px;
}
#personalize .personalize_img {
  position: relative;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#personalize .personalize_img .phone_page {
  position: absolute;
  right: 70%;
  bottom: 0;
}

@media (max-width: 767px) {
  #personalize .personalize_title .personalize_text {
    width: 100%;
    margin: 0 0 5%;
  }
  #personalize .personalize_title .personalize_text h1 {
    width: 100%;
    margin: 5% 0;
  }
  #personalize .personalize_img .img_page {
    width: 100%;
  }
  #personalize .personalize_img .phone_page {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #personalize .personalize_title .personalize_text {
    width: 100%;
    margin: 0 0 5%;
  }
  #personalize .personalize_title .personalize_text h1 {
    width: 100%;
    margin: 5% 0;
  }
  #personalize .personalize_img .img_page {
    width: 100%;
  }
  #personalize .personalize_img .phone_page {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #personalize .personalize_title .personalize_text {
    width: 100%;
    margin: 0 0 5%;
  }
  #personalize .personalize_title .personalize_text h1 {
    width: 100%;
    margin: 5% 0;
  }
  #personalize .personalize_img .img_page {
    width: 100%;
  }
  #personalize .personalize_img .phone_page {
    display: none;
  }
}