.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.specrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 10vw;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

[class*=col-] {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-sm-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-sm-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-sm-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-sm-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-sm-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-sm-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-sm-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-sm-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-sm-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-sm-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-sm-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-md-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-md-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-md-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-md-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-md-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-md-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-md-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-md-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-md-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-md-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-md-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-lg-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-lg-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-lg-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-lg-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-lg-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-lg-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-lg-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-lg-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-lg-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-lg-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-lg-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: calc(8.333333% * 1);
    -ms-flex-preferred-size: calc(8.333333% * 1);
        flex-basis: calc(8.333333% * 1);
  }
  .col-xl-2 {
    width: calc(8.333333% * 2);
    -ms-flex-preferred-size: calc(8.333333% * 2);
        flex-basis: calc(8.333333% * 2);
  }
  .col-xl-3 {
    width: calc(8.333333% * 3);
    -ms-flex-preferred-size: calc(8.333333% * 3);
        flex-basis: calc(8.333333% * 3);
  }
  .col-xl-4 {
    width: calc(8.333333% * 4);
    -ms-flex-preferred-size: calc(8.333333% * 4);
        flex-basis: calc(8.333333% * 4);
  }
  .col-xl-5 {
    width: calc(8.333333% * 5);
    -ms-flex-preferred-size: calc(8.333333% * 5);
        flex-basis: calc(8.333333% * 5);
  }
  .col-xl-6 {
    width: calc(8.333333% * 6);
    -ms-flex-preferred-size: calc(8.333333% * 6);
        flex-basis: calc(8.333333% * 6);
  }
  .col-xl-7 {
    width: calc(8.333333% * 7);
    -ms-flex-preferred-size: calc(8.333333% * 7);
        flex-basis: calc(8.333333% * 7);
  }
  .col-xl-8 {
    width: calc(8.333333% * 8);
    -ms-flex-preferred-size: calc(8.333333% * 8);
        flex-basis: calc(8.333333% * 8);
  }
  .col-xl-9 {
    width: calc(8.333333% * 9);
    -ms-flex-preferred-size: calc(8.333333% * 9);
        flex-basis: calc(8.333333% * 9);
  }
  .col-xl-10 {
    width: calc(8.333333% * 10);
    -ms-flex-preferred-size: calc(8.333333% * 10);
        flex-basis: calc(8.333333% * 10);
  }
  .col-xl-11 {
    width: calc(8.333333% * 11);
    -ms-flex-preferred-size: calc(8.333333% * 11);
        flex-basis: calc(8.333333% * 11);
  }
  .col-xl-12 {
    width: calc(8.333333% * 12);
    -ms-flex-preferred-size: calc(8.333333% * 12);
        flex-basis: calc(8.333333% * 12);
  }
}
body {
  margin: 0;
}

.submit_button {
  min-width: 250px;
  border-radius: 10px;
  font-weight: 200;
  line-height: 3rem;
  font-size: 1rem;
  padding: 0 1%;
  border: #ff9900 solid 1px;
  text-transform: uppercase;
  background-color: #ff9900;
  color: white;
  cursor: pointer;
}
.submit_button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.submit_button i {
  margin-left: 5%;
}

header {
  width: 100%;
  border-bottom: #e8e9ea solid 1px;
}
header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 160px;
  width: 80%;
  margin: 0 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header_container nav {
  width: 50%;
}
header .header_container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 5%;
  color: black;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_container nav ul li {
  min-width: 60px;
}
header .header_container nav ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
header .header_container nav ul li a:hover {
  font-weight: 400;
  color: #434a54;
  border-bottom: blue solid 3px;
  cursor: pointer;
}
header .header_container .button_block {
  width: 15%;
}

@media (max-width: 767px) {
  header .header_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header_container .button_block {
    min-width: 250px;
    width: 20%;
    margin-bottom: 2%;
  }
  header .logo {
    width: 50%;
    margin-top: 2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 30%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10% 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul li a {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 160px;
    width: 80%;
    border: 0;
    margin: 0 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header_container .logo {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header_container nav {
    width: 100%;
    margin: 5% 0;
  }
  header .header_container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    color: black;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_container nav ul li {
    min-width: 60px;
  }
  header .header_container nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  header .header_container nav ul li a:hover {
    font-weight: 400;
    color: #434a54;
    border-bottom: blue solid 3px;
    cursor: pointer;
  }
  header .header_container .button_block {
    min-width: 250px;
    width: 20%;
    margin-bottom: 2%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 160px;
    width: 90%;
    margin: 0 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header_container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35%;
  }
  header .header_container nav {
    width: 65%;
  }
  header .header_container nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 3%;
    color: black;
    list-style: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .header_container nav ul li {
    min-width: 60px;
    text-align: center;
  }
  header .header_container nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
  header .header_container nav ul li a:hover {
    font-weight: 400;
    color: #434a54;
    border-bottom: blue solid 3px;
    cursor: pointer;
  }
  header .header_container .button_block {
    min-width: 250px;
    width: 20%;
  }
}
#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 1080px;
  width: 90%;
  margin: 0 0 0 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#hero .hero_title {
  width: 50%;
}
#hero .hero_title .hero_text {
  width: 100%;
}
#hero .hero_title .hero_text h3 {
  margin-top: 10%;
  font-size: large;
}
#hero .hero_title .hero_text h1 {
  width: 100%;
  margin: 0 0 auto;
  font-size: 5rem;
}
#hero .hero_title .hero_text h1 a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}
#hero .hero_title .hero_frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#hero .hero_title .hero_frame .frame_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 50%;
  margin: 2% 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#hero .hero_title .hero_frame .frame_text p {
  margin: 0 3%;
}
#hero .hero_title .hero_frame .frame_text .fa-solid {
  margin-left: 5%;
  color: rebeccapurple;
}
#hero .hero_title .hero_button-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 3% 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hero .hero_title .hero_button-price .button_block {
  min-width: 250px;
  width: 35%;
}
#hero .hero_title .hero_button-price .price_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2% 0 2% 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#hero .hero_title .hero_button-price .price_block h1 {
  width: 100px;
  margin: 0;
  font-size: 1rem;
}
#hero .hero_title .hero_button-price .price_block .money_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px 0 0;
  font-size: 140%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#hero .hero_title .hero_button-price .price_block .money_block p {
  margin: 24% 0 0;
  color: #4568f9;
}
#hero .hero_title .hero_button-price .price_block .money_block :nth-child(2) {
  color: gray;
}
#hero .hero_img {
  width: 50%;
  bottom: 0;
  font-size: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -o-object-fit: contain;
     object-fit: contain;
}
#hero .hero_img img {
  height: 65%;
  margin-top: 35%;
  width: 100%;
}

@media (max-width: 767px) {
  #hero .hero_title {
    width: 100%;
  }
  #hero .hero_title .hero_text h1 {
    width: 100%;
    margin: 0 0 auto;
    font-size: 3.5rem;
  }
  #hero .hero_title .hero_text h1 a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
  #hero .hero_title .button_block {
    min-width: 250px;
  }
  #hero .hero_img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #hero .hero_title {
    width: 100%;
  }
  #hero .hero_title .hero_text {
    width: 70%;
  }
  #hero .hero_title .hero_text h1 {
    width: 100%;
    margin: 0 0 auto;
    font-size: 2rem;
  }
  #hero .hero_title .hero_text h1 a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
  #hero .hero_title .button_block {
    min-width: 250px;
  }
  #hero .hero_img {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #hero .hero_title {
    width: 100%;
  }
  #hero .hero_title .hero_text {
    width: 70%;
  }
  #hero .hero_title .hero_text h1 {
    width: 100%;
    margin: 0 0 auto;
    font-size: 2rem;
  }
  #hero .hero_title .hero_text h1 a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }
  #hero .hero_title .button_block {
    min-width: 250px;
  }
  #hero .hero_img {
    display: none;
  }
}
#dna_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 10%;
}
#dna_info .ifo_text {
  width: 50%;
}
#dna_info .ifo_text h1 {
  font-size: 3rem;
}
#dna_info .ifo_text p {
  width: 70%;
  margin: 0 0 5%;
  font-size: 20px;
}
#dna_info .movie {
  width: 50%;
}
#dna_info .movie video {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-top: 3rem;
}

@media (max-width: 767px) {
  #dna_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #dna_info .ifo_text {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dna_info .ifo_text p {
    margin: 0 15% 5%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dna_info .movie {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #dna_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #dna_info .ifo_text {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dna_info .ifo_text p {
    margin: 0 15% 5%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #dna_info .movie {
    width: 100%;
  }
}
#analyze {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 5% 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#analyze h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
#analyze p {
  width: 36%;
  margin: 2% 32% 4%;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
#analyze .img_analyze {
  width: 50%;
}
#analyze .human_analyze {
  width: 50%;
}
#analyze .human_analyze .blood_container {
  width: 70%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #fff3e0;
}
#analyze .human_analyze .blood_container .blood_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 50%;
  margin: 0;
  padding: 3% 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#analyze .human_analyze .blood_container .blood_items a {
  margin: 1% 0 0 2%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#analyze .human_analyze .blood_container .blood_items img {
  width: 47px;
  height: 47px;
  margin: 0 3% 0 4%;
}
#analyze .human_analyze .mood_container {
  width: 70%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #deecf1;
}
#analyze .human_analyze .mood_container .mood_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 80%;
  margin: 0;
  padding: 3% 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#analyze .human_analyze .mood_container .mood_items a {
  margin: 1% 0 0 0;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#analyze .human_analyze .mood_container .mood_items img {
  width: 47px;
  height: 47px;
  margin: 0 3% 0 2%;
}
#analyze .human_analyze .pain_container {
  width: 70%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #f5f9ea;
}
#analyze .human_analyze .pain_container .pain_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 50%;
  margin: 0;
  padding: 3% 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#analyze .human_analyze .pain_container .pain_items a {
  margin: 1% 0 0 2%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#analyze .human_analyze .pain_container .pain_items img {
  width: 47px;
  height: 47px;
  margin: 0 3% 0 4%;
}
#analyze .human_analyze .sleep_container {
  width: 70%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #f3e4f6;
}
#analyze .human_analyze .sleep_container .sleep_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 50%;
  margin: 0;
  padding: 3% 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#analyze .human_analyze .sleep_container .sleep_items a {
  margin: 1% 0 0 2%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#analyze .human_analyze .sleep_container .sleep_items img {
  width: 47px;
  height: 47px;
  margin: 0 3% 0 4%;
}
#analyze .human_analyze .stress_container {
  width: 70%;
  height: 15%;
  border-radius: 10px;
  margin-bottom: 2%;
  background-color: #e9edfe;
}
#analyze .human_analyze .stress_container .stress_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 50%;
  margin: 0;
  padding: 3% 0 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
#analyze .human_analyze .stress_container .stress_items a {
  margin: 1% 0 0 2%;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}
#analyze .human_analyze .stress_container .stress_items img {
  width: 47px;
  height: 47px;
  margin: 0 3% 0 4%;
}
#analyze .button_block {
  max-width: 300px;
  width: 25%;
}

@media (max-width: 767px) {
  #analyze {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 5% 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #analyze h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  #analyze p {
    width: 36%;
    margin: 2% 32% 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #analyze .img_analyze {
    display: none;
  }
  #analyze .human_analyze {
    width: 70%;
    margin: 0 15%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #analyze .human_analyze .blood_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #fff3e0;
  }
  #analyze .human_analyze .blood_container .blood_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 70%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .blood_container .blood_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .blood_container .blood_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .mood_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #deecf1;
  }
  #analyze .human_analyze .mood_container .mood_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 90%;
    margin: 0;
    padding: 1% 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .mood_container .mood_items a {
    margin: 1% 0 0 0;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .mood_container .mood_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 2%;
  }
  #analyze .human_analyze .pain_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #f5f9ea;
  }
  #analyze .human_analyze .pain_container .pain_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 50%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .pain_container .pain_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .pain_container .pain_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .sleep_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #f3e4f6;
  }
  #analyze .human_analyze .sleep_container .sleep_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .sleep_container .sleep_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .sleep_container .sleep_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .stress_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #e9edfe;
  }
  #analyze .human_analyze .stress_container .stress_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .stress_container .stress_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .stress_container .stress_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .button_block {
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #analyze {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 5% 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #analyze h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  #analyze p {
    width: 36%;
    margin: 2% 32% 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #analyze .img_analyze {
    display: none;
  }
  #analyze .human_analyze {
    width: 70%;
    margin: 0 15%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #analyze .human_analyze .blood_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #fff3e0;
  }
  #analyze .human_analyze .blood_container .blood_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 70%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .blood_container .blood_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .blood_container .blood_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .mood_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #deecf1;
  }
  #analyze .human_analyze .mood_container .mood_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 90%;
    margin: 0;
    padding: 1% 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .mood_container .mood_items a {
    margin: 1% 0 0 0;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .mood_container .mood_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 2%;
  }
  #analyze .human_analyze .pain_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #f5f9ea;
  }
  #analyze .human_analyze .pain_container .pain_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 50%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .pain_container .pain_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .pain_container .pain_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .sleep_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #f3e4f6;
  }
  #analyze .human_analyze .sleep_container .sleep_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .sleep_container .sleep_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .sleep_container .sleep_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .stress_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #e9edfe;
  }
  #analyze .human_analyze .stress_container .stress_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .stress_container .stress_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .stress_container .stress_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .button_block {
    width: 40%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #analyze {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 5% 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #analyze h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  #analyze p {
    width: 36%;
    margin: 2% 32% 4%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  #analyze .img_analyze {
    width: 70%;
    margin: 0 15%;
  }
  #analyze .human_analyze {
    width: 70%;
    margin: 0 15%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #analyze .human_analyze .blood_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #fff3e0;
  }
  #analyze .human_analyze .blood_container .blood_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 70%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .blood_container .blood_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .blood_container .blood_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .mood_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #deecf1;
  }
  #analyze .human_analyze .mood_container .mood_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 90%;
    margin: 0;
    padding: 1% 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .mood_container .mood_items a {
    margin: 1% 0 0 0;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .mood_container .mood_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 2%;
  }
  #analyze .human_analyze .pain_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #f5f9ea;
  }
  #analyze .human_analyze .pain_container .pain_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    width: 50%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .pain_container .pain_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .pain_container .pain_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .sleep_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #f3e4f6;
  }
  #analyze .human_analyze .sleep_container .sleep_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .sleep_container .sleep_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .sleep_container .sleep_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .human_analyze .stress_container {
    width: 100%;
    height: 15%;
    border-radius: 10px;
    margin-bottom: 2%;
    background-color: #e9edfe;
  }
  #analyze .human_analyze .stress_container .stress_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 10%;
    margin: 0;
    padding: 1% 0 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #analyze .human_analyze .stress_container .stress_items a {
    margin: 1% 0 0 2%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
  }
  #analyze .human_analyze .stress_container .stress_items img {
    width: 47px;
    height: 47px;
    margin: 0 3% 0 4%;
  }
  #analyze .button_block {
    width: 40%;
  }
}