header {
  display: flex;
  height: auto;
  min-height: 100px;
  width: 100%;
  border-bottom: #e8e9ea solid 1px;
  // align-items: center;
  flex-wrap: wrap;

  .header_navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .logo {
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }

    nav {
      ul {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;

        li {
          a {
            font-size: 1.2rem;
            padding: 0 0.8rem;
            text-decoration: none;
            color: black;
            text-transform: uppercase;

            &:hover {
              cursor: pointer;
              color: black;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    .header_navigation {
      justify-content: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header {
    .header_navigation {
      justify-content: center;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  header {
    .header_navigation {
      justify-content: center;
    }
  }
}
