#hero {
  display: flex;
  max-height: 1080px;
  width: 90%;
  margin: 0 0 0 10%;
  flex-direction: row;
  justify-content: space-between;

  .hero_title {
    width: 50%;

    .hero_text {
      width: 100%;

      h3 {
        margin-top: 10%;
        font-size: large;
      }

      h1 {
        width: 100%;
        margin: 0 0 auto;
        font-size: 5rem;

        a {
          color: blue;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    .hero_frame {
      display: flex;
      width: 70%;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;

      .frame_text {
        display: flex;
        height: 10%;
        width: 50%;
        margin: 2% 0;
        flex-direction: row;

        p {
          margin: 0 3%;
        }

        .fa-solid {
          margin-left: 5%;
          color: rebeccapurple;
        }
      }
    }
    .hero_button-price {
      display: flex;
      width: 80%;
      margin: 3% 0;
      flex-direction: row;

      .price_block {
        display: flex;
        margin: 2% 0 2% 5%;
        flex-direction: column;

        h1 {
          width: 100px;
          margin: 0;
          font-size: 1rem;
        }

        .money_block {
          display: flex;
          margin: -15px 0 0;
          font-size: 140%;
          justify-content: space-between;

          p {
            margin: 24% 0 0;
            color: $primary-color-blue;
          }
          :nth-child(2) {
            color: gray;
          }
        }
      }
    }
  }
  .hero_img {
    width: 50%;
    bottom: 0;
    font-size: 0;
    flex-wrap: wrap;
    object-fit: contain;

    img {
      height: 65%;
      margin-top: 35%;
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  #hero {
    .hero_title {
      width: 100%;
      .hero_text {
        h1 {
          width: 100%;
          margin: 0 0 auto;
          font-size: 3.5rem;

          a {
            color: blue;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .hero_img {
      display: none;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    .hero_title {
      width: 100%;
      .hero_text {
        width: 70%;
        h1 {
          width: 100%;
          margin: 0 0 auto;
          font-size: 2rem;

          a {
            color: blue;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .hero_img {
      display: none;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #hero {
    .hero_title {
      width: 100%;
      .hero_text {
        width: 70%;
        h1 {
          width: 100%;
          margin: 0 0 auto;
          font-size: 2rem;

          a {
            color: blue;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }

    .hero_img {
      display: none;
    }
  }
}
