#hero {
  display: flex;

  .hero_container {
    width: 100%;
    flex-wrap: wrap;

    .hero_title {
      flex-wrap: wrap;

      .hero_text {
        width: 100%;

        h3 {
          font-size: large;
        }

        h1 {
          margin: 0 0 auto;
          font-size: 5rem;

          a {
            color: blue;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }

      .hero_frame {
        display: flex;
        flex-wrap: wrap;

        .frame_text {
          display: flex;
          width: 50%;
          margin: 2% 0;
          align-items: center;

          p {
            margin: 0 3%;
          }

          .fa-solid {
            margin-left: 5%;
            color: rebeccapurple;
          }
        }
      }

      .hero_button-price {
        display: flex;
        margin: 3% 0;
        align-items: center;
        flex-wrap: wrap;

        .price_block {
          display: flex;
          margin: 2% 0 2% 5%;
          flex-direction: column;

          h1 {
            width: 100px;
            margin: 0;
            font-size: 1rem;
          }

          .money_block {
            display: flex;
            margin: -15px 0 0;
            font-size: 140%;
            justify-content: space-between;

            p {
              margin: 24% 0 0;
              color: $primary-color-blue;
            }
            :nth-child(2) {
              color: gray;
            }
          }
        }
      }
    }

    .hero_img {
      margin-top: 15%;
      height: 85%;
      width: 100%;

      img {
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 767px) {
  #hero {
    .hero_container {
      .hero_title {
        .hero_text {
          h1 {
            width: 100%;
            font-size: 2rem;
          }
        }
      }

      .hero_img {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #hero {
    .hero_container {
      .hero_title {
        .hero_text {
          h1 {
            font-size: 3rem;
          }
        }
      }

      .hero_img {
        display: none;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #hero {
    .hero_container {
      .hero_title {
        .hero_text {
          h1 {
            font-size: 3rem;
          }
        }
      }

      .hero_img {
        display: none;
      }
    }
  }
}
